<div class="side">
    <div style=" width: 100%; height: 100vh ">
      <ul>
        <a href="/pcf"><li>Create Meeting</li></a>
        <a href="/attendance"><li>Attendance</li></a></a>
       <a href="/users"><li>Users</li></a> 
      </ul>
    </div>
  </div>