<div class="side">
    <div style=" width: 100%; height: 100vh; background: black; ">
      <ul>
        <a href="/cell"><li>Mark Attendance</li></a>
        <a href="/attendance"><li>Create User</li></a></a>
       <a href="/users"><li>Users</li></a> 
      </ul>
    </div>
  </div>